* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primaryHeading {
  font-size: 30pt;
  font-weight: bold;
}
.secondaryHeading {
  font-size: 24pt;
  font-weight: bold;
}
.sectionHeader {
  font-size: 18pt;
  font-weight: bold;
}
.subTitle {
  font-size: 18pt;
}
.cardTitle {
  font-size: 15pt;
  font-weight: bold;
}
.cardCopySmall {
  font-size: 15pt;
  font-weight: lighter;
}
.bodyCopySmall {
  font-size: 14pt;
  font-weight: lighter;
}
.messageTimeStamp {
  font-size: 12pt;
  font-weight: lighter;
}
